.g28tu32o {
  background-color: rgb(255, 174, 0);
}

.aaxa7vy3 {
  background-color: rgb(255, 174, 0);
}

.py1f6qlh {
  background-color: rgb(255, 174, 0);
}
.rq0escxv {
  color: #000;
}

.l9j0dhe7 {
}

.du4w35lb {
}
